<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Code</title>
    <link rel="stylesheet" href="../static/styles_access_code.css">
</head>

<body>
    <h1>Por favor, ingresa el código de acceso:</h1>
    <form action="/verify_access_code" method="post">
        <input type="text" name="code" placeholder="Código de acceso" required>
        <button type="submit">Submit</button>
    </form>
</body>

</html>
